.stacks_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 88px 92px;
  position: relative;
  min-height: 100vh;
}

.stacks_container_titulo {
  width: 100%;
  height: 100%;
  text-align: center;
  border-top: 2px solid #3a3a3a;
  border-left: 2px solid #3a3a3a;
  border-right: 2px solid #1b1b1b;
  border-bottom: 2px solid #1b1b1b;
  border-radius: 41px;
  background: var(--bg-linear-gradiente);
  font-family: var(--font-inter);
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;

  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);

  h2 {
    font-size: 64px;
    font-weight: bold;
  }

  & .titulo_descricao {
    font-size: 24px;
    margin-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .stacks_section {
    padding: 60px 40px;
  }

  .stacks_container_titulo {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      font-size: 56px;
    }

    .titulo_descricao {
      font-size: 20px;
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 950px) {
  .stacks_section {
    padding: 50px 30px;
  }

  .stacks_container_titulo {
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      font-size: 48px;
    }

    .titulo_descricao {
      font-size: 18px;
      margin-bottom: 70px;
    }
  }
}

@media (max-width: 768px) {
  .stacks_section {
    padding: 40px 20px;
    min-height: auto;
  }

  .stacks_container_titulo {
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
      font-size: 42px;
    }

    .titulo_descricao {
      font-size: 16px;
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 430px) {
  .stacks_section {
    padding: 70px 12px;
    min-height: auto;
  }

  .stacks_container_titulo {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      font-size: 36px;
    }

    .titulo_descricao {
      font-size: 14px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 395px) {
  .stacks_section {
    padding: 20px 10px;
    min-height: auto;
  }

  .stacks_container_titulo {
    padding-top: 25px;
    padding-bottom: 25px;

    h2 {
      font-size: 32px;
    }

    .titulo_descricao {
      font-size: 13px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 375px) {
  .stacks_section {
    padding: 15px 8px;
  }

  .stacks_container_titulo {
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
      font-size: 28px;
    }

    .titulo_descricao {
      font-size: 12px;
      margin-bottom: 25px;
    }
  }
}
